<@layout.tmpl title="Администрирование">
	<div><h1>Hello ${admin.name}</h1></div>
	<div id="map">
	</div>
	<div style="margin-top:10px;">
		<div>
			<a href="/docs/alarm.apk">
				<img src="/alarm/inc/android.png" width="34" height="40" />
			</a>
		</div>
		<div style="margin-top:5px;">
			<a href="/docs/alarm.apk">Android Alarm</a>
		</div>
	</div>
</@layout.tmpl>
