html, body {
	margin:0px; padding:0px; 
	background:#fff;
	position:relative; 
}


#all {
	text-align:left;
}

.head {
	display:block;
	height:50px;
	background:#9F89B6;
	padding:1px;
}

#container {
	position:relative; 
	display:block; 
	background:#ffec97;
	border-left:solid 150px #5d9ce7;
}

#inner {
	display:block;
	position:relative;
	 
	margin-left:-150px;
	padding:1px;
}

#left {
	float:left; 
	position:relative; 
	width:150px;
	left:0px;
}

#center {
	margin-left:150px;
	position:relative; 
	display:block;
	height:1%;
}

.clear {
	clear:both;
}

.foot {
	display:block;
	height:50px;
	background:#9F89B6;
	padding:1px;
}

.err {
	margin-bottom: 10px;
	color: #ff0000;
	font-weight: bold;
}

#map {width:800px; height:600px; clear:none; background: #00ff00;}